{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Dependent Dropdown in Django</title>
</head>
<body style="text-align:center"><br>
<h2 style="color:Green;">Customer Form</h2><br>
<div class="col-md-3 container-fluid" >
<form method="post" id="personForm" data-branch-url="{% url 'ajax_load_cities' %}">
        {% csrf_token %}
        {{ form.as_p }}<br>
        <input type="submit" value="Submit">
        <a href="logout" class="btn btn-light" >Logout</a>
        <a href="{% url 'bapp:home' %}" class="btn btn-dark">Home</a><br>
</form>
<div class="col-md-10">
    {% for msg in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Heyy</strong> {{ msg }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
</div>
    </div>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_district").change(function () {
        const url = $("#personForm").attr("data-branch-url");
        const districtId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'district_id': districtId
            },
            success: function (data) {
                $("#id_branches").html(data);


<!--                let html_data = '<option value="">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</option>';-->
<!--                data.forEach(function (city) {-->
<!--                    html_data += `<option value="${city.id}">${city.name}</option>`-->
<!--                });-->
<!--                console.log(html_data);-->
<!--                $("#id_city").html(html_data);-->


            }
        });

    });
</script>
</body>
</html>